.title {
  margin: 0;

  @media (min-width: 991px) {
    font-size: 30px
  }

  @media (min-width: 768px) {}
}

.second {
  opacity: .6;
  margin-bottom: 3.5vh;

  @media (min-width: 991px) {
    font-size: 20px
  }

  @media (min-width: 768px) {}
}

.picture {
  width: 85vw;

  @media (min-width: 991px) {
    width: 20vw;
    max-width: 400px;
  }

  @media (min-width: 768px) {}

  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
  margin: 2.5vh 0;

  a {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
    height: 10vw;
    background-color: white;
    border-radius: 5px;
    color: black;

    &.rate {
      background-color: #FFE34F;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 1.7vh;
  width: 100%;
  margin-bottom: 5vh;
}

.infoRow {
  display: flex;
  width: 100%;
  justify-content: space-between;

  p {
    opacity: .6;
    max-width: 40%;
    font-weight: 500;
  }

  span {
    max-width: 40%;
    text-align: right;
  }
}

.description {
  margin-bottom: 5vh;
}

.extra {
  width: 100%;

  img {
    width: 100%;
    margin-bottom: 5vh;
    border-radius: 10px;
  }

  iframe {
    width: 100%;
    height: 47.8125vw;
    border: 0;
    border-radius: 10px;
    margin-bottom: 5vh;
  }
}

.head {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.comments {
  font-size: 14px;
  margin-bottom: 2vh;

  h3 {
    font-size: 16px;
    margin-bottom: 2vh;
  }
}


.write {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 5vh;

  button {
    height: 40px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    outline: none;
    border: 0;
    border-radius: 5px;
    background-color: #676666;
    color: white;
    font-family: 'Gilroy', 'sans-serif';
    font-size: 1.7vh;

    &::placeholder {
      color: white;
      opacity: .5;
    }
  }
}

.userComments {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  border-radius: 5px;
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 15px;
}

.rate {
  background-color: #FFE34F;
  width: 50vw;
  height: 10vw;
  font-weight: bold;
  font-size: 1.7vh;
}

.pictureWrapper {
  position: relative;
}

.ratingWrapper {
  position: absolute;
  top: 5%;
  left: 0;
  width: 20%;
  background-color: #FFE34F;
  display: flex;
  justify-content: center;

  p {
    font-weight: bold;
    color: black;
  }
}

.more {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    height: 40px;
  }
}