.content {
  width: 85vw;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 16px;

  iframe {
    width: 100%;
    border: 0;
    border-radius: 15px;
  }
}

.row {
  display: grid;
  grid-template-columns: 20vw 1fr;
  column-gap: 60px;
  margin-bottom: 60px;
}

.title {
  margin: 0;
}

.second {
  opacity: .6;
  font-size: 20px;
}

.picture {
  width: 20vw;
  max-width: 400px;
  border-radius: 10px;
}

.buttons {
  width: 20vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  a,
  button {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    color: black;

    &.rate {
      background-color: #FFE34F;
    }
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
}

.infoRow {
  display: flex;
  width: 100%;
  justify-content: space-between;

  p {
    opacity: .6;
    max-width: 40%;
    font-weight: 500;
  }

  span {
    max-width: 40%;
    text-align: right;
  }
}

.description {
  margin-bottom: 60px;
}

.extra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.extraHeaders {
  display: flex;
  justify-content: space-between;
  text-align: center;

  h2 {
    width: 45%;
  }
}

.extraItem {
  width: 45%;

  iframe {
    width: 100%;
    height: calc(100% - 30px - 1vh);
    border: 0;
    border-radius: 15px;
  }
}

.head {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.player {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;

  iframe {
    height: 80vh;
  }
}

.comments {
  width: 100%;
  margin: 0 auto 50px;

  h3 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    resize: none;
    outline: none;
    border: 0;
    border-radius: 5px;
    background-color: #676666;
    color: white;
    font-family: 'Gilroy', 'sans-serif';
    font-size: 1.7vh;

    &::placeholder {
      color: white;
      opacity: .5;
    }
  }
}

.write {
  margin-bottom: 50px;
}

.userComments {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.more {
  button {
    width: 100%;
    height: 40px;
  }
}