@import '../../colors.scss';

.wrapper {
  position: relative;
  display: flex;
  column-gap: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;

  &.admin {
    border: 1.5px solid $accent;
  }
}

.content {
  width: 100%;
  font-size: 14px;
}

.info {
  display: flex;
  column-gap: 10px;
}

.nameWrapper {
  @media (min-width: 992px) {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 10px;

  h2 {
    margin: 0;
  }
}

.name {
  font-weight: bold;

  &.checked {
    &::after {
      display: inline-block;
      content: url(../../assets/icons/checked.svg);
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.time {
  color: $second-text
}

.message {
  padding-right: 60px;
  font-size: 14px;
  // margin-bottom: 15px;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.item {
  display: flex;
  column-gap: 10px;
}

.likes {
  position: absolute;
  bottom: 0;
  display: flex;
  column-gap: 5px;
  align-items: center;

  img {
    width: 15px;
  }
}

.like {
  background-color: transparent;
  padding: 0;
  margin-bottom: 2px;
}

.delete {
  background-color: transparent;
  padding: 0;
  height: 12px;

  &.hidden {
    opacity: 0;
  }

  img {
    width: 12px;
  }

  &:hover {
    opacity: 1;
  }
}