.wrapper {
  position: relative;
  display: flex;
  column-gap: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  width: 100%;
}

.info {
  display: flex;
  column-gap: 10px;
}

.name {
  font-weight: bold;
}

.time {
  opacity: .6;
  font-weight: bold;
}

.message {
  margin: 10px 0;
}

.actions {
  display: flex;
  width: 98%;
  justify-content: space-between;
}

.likes {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.like {
  background-color: transparent;
  padding: 0;
}

.delete {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 14px;
  opacity: .6;

  &:hover {
    text-decoration: underline;
    opacity: .6;
  }
}