.wrapper {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  row-gap: 30px;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #FFE34F;
  }

}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  a,
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;

    &.logout {
      background-color: #ff0000;
    }

    &.admin {
      background-color: white;
    }
  }
}

.editList {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 15px;

  label {
    h3 {
      opacity: 1;
      font-size: 18px;
      margin-bottom: 5px;
    }

    input {
      width: 300px;
      height: 40px;
      padding-left: 15px;
    }
  }
}

.submit {
  height: 40px;

  &:disabled {
    background-color: #676666;

    &:hover {
      cursor: auto;
      opacity: 1;
    }
  }
}