.card {
  width: 40vw;

  @media (min-width: 768px) {
    width: 200px;
    height: 100%;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }

    h2,
    h3 {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


  img {
    width: 40vw;
    height: 60vw;
    margin-bottom: 1vh;
    border-radius: 10px;

    @media (min-width: 768px) {
      width: 200px;
      height: 300px;
      border-radius: 15px;
    }
  }
}

.pictureWrapper {
  position: relative;
}

.absolute {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 5%;
  height: 6%;

  p {
    font-weight: bold;
    font-size: 22px;
  }

  .favorite {
    background-color: transparent;
    width: auto;
    padding: 0;

    img {
      height: 30px;
      width: auto;
    }
  }
}