.card {
  width: 40vw;

  @media (min-width: 991px) {
    width: 20vw;
    max-width: 400px;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }
  }

  @media (min-width: 768px) {}

  img {
    width: 40vw;
    margin-bottom: 1vh;
    border-radius: 10px;

    @media (min-width: 991px) {
      width: 20vw;
      max-width: 400px;
      border-radius: 15px;
    }

    @media (min-width: 768px) {}
  }
}