.card {
  width: 40vw;

  @media (min-width: 991px) {
    width: 20vw;
    max-width: 400px;
    height: 40vw;

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }
  }

  @media (min-width: 768px) {}

  img {
    width: 40vw;
    height: 60vw;
    margin-bottom: 1vh;
    border-radius: 10px;

    @media (min-width: 991px) {
      width: 20vw;
      height: 30vw;
      max-width: 400px;
      max-height: 600px;
      border-radius: 15px;
    }

    @media (min-width: 768px) {}
  }
}

.pictureWrapper {
  position: relative;
}

.absolute {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 5%;
  height: 6%;

  p {
    font-weight: bold;
    font-size: 22px;
  }

  .favorite {
    background-color: transparent;
    width: auto;
    padding: 0;

    img {
      height: 30px;
      width: auto;
    }
  }
}