@import '../../colors.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: transparent;
  margin-bottom: 50px;
  z-index: 2;
  font-size: 14px;
  transition: .2s;

  .wrapper {
    width: 85%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    align-items: center;
  }
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.pcNav {
  display: flex;
  column-gap: 60px;

  li {
    text-transform: uppercase;

    a {
      font-weight: bold;

      &.active {
        text-decoration: underline;
        text-decoration-color: $accent;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.user {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}