.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #2E3031;
  margin-bottom: 50px;
  z-index: 2;
  font-size: 14px;

  .wrapper {
    width: 85%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.pcNav {
  display: flex;
  column-gap: 7vw;

  li {
    text-transform: uppercase;

    a {

      &.active {
        font-weight: bold;
      }
    }
  }
}