@import './font.css';
@import './colors.scss';

// $h2-fz: 14px;
// $h3-fz: 14px;
// $h1-fz: 24px;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  color: $main-text;
  overflow-x: hidden;

  &.fixed {
    position: fixed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: $main-text;
  text-decoration: none;
  transition: .5s;

  &:hover {
    color: $accent;
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

img {
  display: block;
}

h1 {
  margin-bottom: 3vh;
  font-size: 24px;

  @media (min-width: 991px) {
    margin-bottom: 30px;
    font-size: 30px
  }

  @media (min-width: 768px) {}

}

button {
  border: 0;
  background-color: $main-text;
  color: black;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Gilroy', 'sans-serif';
  transition: .5s;

  &:hover {
    opacity: .5;
    cursor: pointer;
  }
}

.primary-button {
  background-color: $accent;
  color: black;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: 500;
}

.menu-modal {
  position: absolute;
  top: 60px;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: $light-bg;
  transition: all .3s ease-in;

  a {
    display: flex;
    align-items: center;
  }

  &.hidden {
    left: -80vw;
  }

  .menu-modal__wrapper {
    width: 100%;
    padding: 60px 30px;
  }

  .user-wrapper {
    display: flex;
    column-gap: 20px;
    margin: 0 0 5vh 0;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .link {
      display: flex;
      padding-left: 30px;
      height: 40px;
      width: 100%;
      font-size: 16px;
      border-radius: 5px;

      &.active {
        background-color: $light-input;
      }
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: $light-bg;
  transition: all .3s ease;
  z-index: 100;

  .search__wrapper {
    width: 85%;
    margin: 30px 0;

    .input__wrapper {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      input {
        width: 100%;
        height: 40px;
        padding-left: 15px;
        padding-right: 40px;
        font-size: 16px;

        &:focus {
          font-size: 16px;
        }
      }

      button {
        position: absolute;
        right: 10px;
        padding: 0;
        background-color: transparent;
        border: 0;
        color: $main-text
      }

      img {
        width: 25px;
      }
    }
  }

  &.hidden {
    top: -100vh;
  }
}

.content {
  width: 85vw;
  max-width: 1600px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  column-gap: 5vw;

  @media (min-width: 991px) {
    column-gap: 2vw;
    height: 40px;
  }

  @media (min-width: 768px) {}
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .5vh;
}

h3 {
  font-size: 14px;
  color: $second-text;
}

input {
  font-family: 'Gilroy', 'sans-serif';
  font-size: 16px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: $input;
  color: $main-text;

  &::placeholder {
    color: $second-text;
  }
}

.error {
  color: red;
}

.error-submit {
  display: none;
  width: 100%;
  color: red;
}

.invalid {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 5px;
  transition: .3s;
  -webkit-transition: .3s;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $accent;
}

::-webkit-scrollbar-track {
  background-color: $background;
  border-radius: 10px;
}