.card {
  display: flex;
  column-gap: 20px;
  height: 100%;
}

.picture {
  width: 60px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  h1 {
    font-size: 16px;
    margin: 0;
  }

  h2 {
    font-size: 14px;
    opacity: .6;
    margin: 0;
  }
}