.contacts {
  display: grid;
  grid-template-columns: 30vw 1fr;
  gap: 30px;
  margin-bottom: 3.5vh;
  align-items: flex-start;

  @media (min-width: 768px) {}

  @media (min-width: 991px) {
    grid-template-columns: 300px .7fr;
    font-size: 18px;
  }

}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: 991px) {
    height: 300px;
    justify-content: start;
    row-gap: 20px;
  }


  p {
    opacity: 0.6;
  }
}

.avatar {
  width: 30vw;

  @media (min-width: 991px) {
    width: 300px;
  }

  border-radius: 10px;
}

.description {
  margin-bottom: 3.5vh;

  @media (min-width: 991px) {
    font-size: 18px;
  }
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 9vw;

  @media (min-width: 991px) {
    column-gap: 50px;
  }

  img {
    width: 10vw;

    @media (min-width: 768px) {
      width: 7vw;
      column-gap: 30px;
    }

    @media (min-width: 991px) {
      width: 50px;
    }
  }
}